.auth-image-side {
  display: none; 
  
  @media (min-width: 1024px) {
    display: flex;
    width: 45%; 
    overflow: hidden;
  }

    img {
        width: 90%;
        height: 100%;
        object-fit: cover; 
        object-position: center;
    }
}
